{% extends "base.html" %}
{% block content %}

<form class="form" action="/add_class" method="post" name="crnform">
    {{ form.hidden_tag() }}
    <div class="form-group{% if form.department.errors %} has-error{% endif %}">
        <label for="department" class="control-label">Department:</label>
        <select name="department" id="department">
        </select>
        {% if error and not f.department %}
        <font color = red> Invalid Department </color>
        {% endif %}
    </div>
    <div class="form-group{% if form.number.errors %} has-error{% endif %}">
        <label for="course" class="control-label">Course:</label>
        <select name="course" id="course">
        </select>
        {% if error and not f.course %}
        <font color = red> Invalid course </color>
        {% endif %}
    </div>
    <div class="form-group{% if form.crn.errors %} has-error{% endif %}">
        <label for="crn" class="control-label">CRN:</label>
        <select name="crn" id="crn">
        </select>
        {% if error and not f.crn %}
        <font color = red> Invalid CRN </color>
        {% endif %}
    </div>
    <div class="form-group">
        <div class="controls">
            <input class="btn btn-primary" type="submit" value="Add">
        </div>
    </div>
</form>
{% include 'footer.html' %}
{% endblock %}