<!DOCTYPE html>
<html lang="en">
<head>
    <title>Wayne's Course Hunter</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/static/css/chosen.min.css" rel="stylesheet" type="text/css"/>
    <link rel="icon" type="image/png" href="/static/images/favicon.png"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://cdn.jsdelivr.net/clipboard.js/1.5.12/clipboard.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/dropdown.min.js"></script>
    <script type="text/javascript" src="/static/js/chosen.jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:url" content="http://checker.waynecrasta.com/"/>
    <meta property="og:title" content="Wayne's Course Checker"/>
    <meta property="og:description" content="Check courses easily with Wayne's Course Checker"/>
</head>
<body>
<div class="well">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home <span class="sr-only">(current)</span></a></li>
                    {% if not current_user.is_authenticated %}
                    <li><a href="{{url_for('register')}}">Register</a></li>
                    <li><a href="{{url_for('login')}}">Login</a></li>
                    {% else %}
                    <li><p class="navbar-text">Hi <b>{{current_user.username}}</b></p></li>
                    <li><a href="{{url_for('add_class')}}">Add Class</a></li>
                    {% endif %}
                </ul>
                {% if current_user.username %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{url_for('logout')}}">Logout</a></li>
                </ul>
                {% endif %}
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    {% block content %}{% endblock %}
</div>
</body>
</html>