<link rel="stylesheet" href="/static/css/login.css" type="text/css">
{% block body %}


<form action="/register" method="POST">
    {{ form.hidden_tag() }}
    <div class="login">
        <div class="login-screen">
            <div class="app-title">
                <h1>Register</h1>
            </div>
            <div class="login-form">
                <div class="control-group">
                    {{ form.email }}
                    {% if form.email.errors %}
                    <p style="color:red">{{ form.email.errors[0]}}</p>
                    {% endif %}
                </div>

                <div class="control-group">
                    {{ form.username }}
                    {% if form.username.errors %}
                    <p style="color:red">{{ form.username.errors[0]}}</p>
                    {% endif %}
                </div>

                <div class="control-group">
                    {{ form.password }}
                    {% if form.password.errors %}
                    <p style="color:red">{{ form.password.errors[0]}}</p>
                    {% endif %}
                </div>

                <input type="submit" value="Register" class="btn btn-primary btn-large btn-block">
                <br>
                <a href="{{url_for('index')}}">Home</a>
            </div>
        </div>
    </div>
</form>

{% endblock %}