<!DOCTYPE html>
<html lang="en">
<head>
    <title>Test</title>
    <meta charset="utf-8"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="../static/js/chosen.jquery.min.js"></script>
    <link href="../static/css/chosen.min.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript">
        $(document).ready(function(){
            $('select').chosen();
    })
    </script>
</head>
<body>
<div>
    <select>
        <option>TEST1</option>
        <option>TEST2</option>
    </select>
</div>
</body>
</html>